.spot-container {
  position: absolute;
  top: 0;
  height: 100vh;
  transition: left 0.4s ease;
  background: white;
  width: 100vw;

  .spot {
    @media screen and (max-width: 480px) {
      width: 100vw;
    }
    @media screen and (min-width: 481px) {
      max-width: 1000px;
    }
    padding-bottom: 50px;
  }

  nav {
    z-index: 2;
    @media screen and (max-width: 480px) {
      width: 100vw;
      position: fixed;
      bottom: 0;
    }
    @media screen and (min-width: 481px) {
      position: sticky;
      top: 0;
      width: 480px;
    }
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    a {
      vertical-align: middle;
      color: black;
      text-decoration: none;
      width: 100%;
      border: 1px solid #ddd;
      border-left: 1px solid #ddd;
      padding: 10px 0;
      font-size: 20px;
      font-size: 30px;
      background: white;
    }
    .fa-video {
      color: lighten(blue, 15);
    }
    .fa-images {
      color: lighten(darkgoldenrod, 15);
    }
    .fa-comments {
      color: lighten(green, 5);
    }
    .fa-window-close {
      color: darken(red, 5);
    }
    .active {
      background: #eee;
    }
  }
}

.move-right {
  left: 100vw;
}

.move-left {
  left: 0;
}
